body{
    background-color: salmon;
}
table{
   border: 1px solid black; 
   box-shadow: 5px 5px;
   background-color: rgb(223, 223, 223);
}

td{
    border: 1px solid black;
    padding: 10px;
    background-color: antiquewhite;
}

h1{
    text-align: center
}

.declaration{
    font-family: monospace;
}

h1{
    border-radius: 50%;
    background-color: limegreen;
    width: 200px;
    height:200px;
    padding: 10%;
    margin: 0 auto;
}
.column {
    float: left;
    width: 50%;
  }
  .row:after {
    content: "";
    display: table;
    clear: both;
  }